<p>
	<strong>commenter:</strong>
	<%= comment.commenter%>
</p>
<p>
	<strong>comment:</strong>
	<%= comment.body%>
</p>
<p>
	<%= link_to 'Destroy comment',[comment.post, comment],method: :delete, data: {confirm: 'Are you sure ?'} %>
	</p>